/* TRIANGLE */
.triangulo-right {
    margin: 0.5rem 0.5rem;
    width: 0;
    height: 0;
    border-left: 1rem solid var(--white);
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}
.triangulo-left {
    margin: 0.5rem 0.5rem;
    width: 0;
    height: 0;
    border-right: 1rem solid var(--white);
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}
.triangulo-left,
.triangulo-right {
    content: none;
}

/* PARALELOGRAMO */
.paralelogramo,
.paralelogramo1,
.paralelogramo2 {
    position: relative;
    height: fit-content;
    z-index: 0;
}
.paralelogramo::before,
.paralelogramo1::before,
.paralelogramo2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: var(--inclinacion);
    z-index: -1;
}
.paralelogramo1::before {
    background-color: var(--color1);
}
.paralelogramo2::before {
    background-color: var(--color2);
}
.menuLogin::before {
    width: auto;
    height: 0.5rem;
    background-color: var(--gray);
    transform: scaleX(1.2) var(--inclinacion);
}
.loginRoutes::before {
    width: auto;
    height: 0.5rem;
    background-color: var(--gray);
    transform: scaleX(1.05) var(--inclinacion);
}

/* PARALELOGRAMO Welcome */
#Welcome a.paralelogramo::before {
    background-color: var(--color2);
}
#Welcome a.paralelogramo:hover::before,
#Welcome a.paralelogramo.active::before {
    background-color: var(--color1);
}

/* PARALELOGRAMO NAVIGATION LOGIN */
#Routes a.paralelogramo::before {
    background-color: var(--color2);
}
#Routes a.paralelogramo:hover::before,
#Routes a.paralelogramo.router-link-exact-active::before {
    background-color: var(--color1);
}
